<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="barremenu">
    <p><a href="/"><img src="http://fr.ubergizmo.com/wp-content/uploads/2012/06/Sonic-Twitter.jpg" class ="Teuteur"></a>
    Teuteur</p>
    </div>
    {% block connexion %}{% endblock %}
    {% block body %}{% endblock %}
    {{ include('js/js.html.twig')}}
    {% block javascripts %}{% endblock %}
</body>
</html>
