{% block javascripts %}

<script type="text/javascript">


$(document).ready(function()
{
	$( "#postMessageButton" ).click(function(){
		var message = $( "#messageInput" ).val();
		var request = $.ajax({
			url: "/post/create",
			method: "POST",
			data: { message : message,
				parent : null,
				repost_target : null,
				repost: null
			},
			dataType: "json"
		});

		request.done(function(msg) {
			msg = $.parseJSON(msg);
			if (msg['result'] == "success")
			{
				console.log((msg['data']));
				var newPost = "<div class='post'><div class='top'><img class='profilPic' src='"+msg['data']['author']['profilPic']+"'><div class='author'>"+msg['data']['author']['username']+" <div class='email'>"+msg['data']['author']['email']+"</div></div> <div class='postTime'>"+msg['data']['dateCreate']['date'].toString()+"</div><div class='follow'><button class='followButton button'>Suivre</button></div></div><div class='content'>"+msg['data']['message']+"<div class='embed'><!--<img class='embedPic' src='http://www.tao-restaurant.fr/wp-content/uploads/2013/03/plage20111102.jpg'>--></div></div><div class='socialButton'><button data-idPost='"+msg['data']['id']+"' class='like button'>J\'aime</button>nb-jaime<button data-idPost='"+msg['data']['id']+"' class='RT button'>RT</button>nb-RT</div>";
				$( "#listePost" ).prepend(newPost);
			}
		});

		request.fail(function( jqXHR, textStatus ) {
			alert( "Request failed: " + textStatus );
		});
	});
$( ".RT" ).click(function(){
	console.log($(this).attr('data-idPost') );

	var rtOrigin = $(this).attr('data-idPost');
	var request = $.ajax({
		url: "/post/create",
		method: "POST",
		data: { message : null,
			parent : null,
			repost_target : rtOrigin,
			repost: 1
		},
		dataType: "json"
	});

	request.done(function(msg) {
		msg = $.parseJSON(msg);

		if (msg['result'] == "success")
		{
			console.log((msg['data']));
		}

	});

	request.fail(function( jqXHR, textStatus ) {
		alert( "Request failed: " + textStatus );
	});
});

$( ".report" ).click(function(){
	console.log($(this).attr('data-idPost') );

	var likeOrigin = $(this).attr('data-idPost');
	var request = $.ajax({
		url: "/post/"+likeOrigin+"/report",
		method: "POST",
		dataType: "json"
	});

	request.done(function(msg) {
		msg = $.parseJSON(msg);
		if (msg['result'] == "success")
		{
			alert( "Votre demande a été envoyé.");
		}
	});

	request.fail(function( jqXHR, textStatus ) {
		alert( "Vous avez déjà signaler ce post." );
	});
});

$( ".followButton" ).click(function(){
	console.log($(this).attr('data-idAuthor') );

	var idAuthor = $(this).attr('data-idAuthor');
	var request = $.ajax({
		url: "/user/follow/"+idAuthor+"",
		method: "POST",
		dataType: "json"
	});

	request.done(function(msg) {
		alert( "Vous suivez maintenant cette personne.");
	});

	request.fail(function( jqXHR, textStatus ) {
		alert( "Vous suivez déjà cette personne." );
	});

});

});
</script>
{% endblock %}